*{
    box-sizing: border-box;
}
body {
    padding-top: 5rem;
    background: #F3F4F6;
}
form{
    background: #fff;
    padding: 2em;
}
.form-group{
    margin-bottom: 1rem;
}

form input.fileinput{
    border: none;
}

img#projectlogo{
    width: 1em;
    margin-right: .5em;
}
section#propertyset{
    display: grid;
    grid-template-columns : repeat(3, 1fr);
}